
body {
    background-color: black;
    color: white;
    margin: 0;
}

#label {
    padding: 50px 20px;
}

.post {
    height: 100vh;
    position: relative;
}

.post img,
.post video {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.info {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    background: #00000080;
    padding: 5px 14px 5px 5px;
    border-radius: 3px;
}

.info img {
    border-radius: 5px;
    width: 32px;
    margin-right: 10px;
}

.pager {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background: #00000080;
    padding: 5px 14px 5px 5px;
    border-radius: 3px;
}

.pager:not([date-set]) {
    cursor: pointer;
}

#hub {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding: 5px;
    margin: 5px;
    background: #0004;
    color: #fff8;
    border-radius: 3px;
}
